USE [master]
GO
/****** Object:  Database [VH_Burguer]    Script Date: 08/05/2026 10:42:36 ******/
CREATE DATABASE [VH_Burguer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VH_Burguer', FILENAME = N'C:\Users\53278369831\VH_Burguer.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VH_Burguer_log', FILENAME = N'C:\Users\53278369831\VH_Burguer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VH_Burguer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VH_Burguer]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 08/05/2026 10:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_AlteracaoProduto]    Script Date: 08/05/2026 10:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_AlteracaoProduto](
	[Log_AlteracaoProdutoID] [int] IDENTITY(1,1) NOT NULL,
	[DataAlteracao] [datetime2](0) NOT NULL,
	[NomeAnterior] [varchar](100) NULL,
	[PrecoAnterior] [decimal](10, 2) NULL,
	[ProdutoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Log_AlteracaoProdutoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 08/05/2026 10:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[ProdutoID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Preco] [decimal](10, 2) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[Imagem] [varbinary](max) NOT NULL,
	[StatusProduto] [bit] NULL,
	[UsuarioID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProdutoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProdutoCategoria]    Script Date: 08/05/2026 10:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdutoCategoria](
	[ProdutoID] [int] NOT NULL,
	[CategoriaID] [int] NOT NULL,
 CONSTRAINT [PK_ProdutoCategoria] PRIMARY KEY CLUSTERED 
(
	[ProdutoID] ASC,
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProdutoPromocao]    Script Date: 08/05/2026 10:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdutoPromocao](
	[PromocaoID] [int] NOT NULL,
	[ProdutoID] [int] NOT NULL,
	[PrecoAtual] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_ProdutoPromocao] PRIMARY KEY CLUSTERED 
(
	[ProdutoID] ASC,
	[PromocaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promocao]    Script Date: 08/05/2026 10:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promocao](
	[PromocaoID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[DataExpiracao] [datetime2](0) NOT NULL,
	[StatusPromocao] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PromocaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 08/05/2026 10:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](60) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Senha] [varbinary](32) NOT NULL,
	[StatusUsuario] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Produto] ADD  DEFAULT ((1)) FOR [StatusProduto]
GO
ALTER TABLE [dbo].[Promocao] ADD  DEFAULT ((1)) FOR [StatusPromocao]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [StatusUsuario]
GO
ALTER TABLE [dbo].[Log_AlteracaoProduto]  WITH CHECK ADD FOREIGN KEY([ProdutoID])
REFERENCES [dbo].[Produto] ([ProdutoID])
GO
ALTER TABLE [dbo].[Produto]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[ProdutoCategoria]  WITH CHECK ADD  CONSTRAINT [FK_ProdutoCategoria_Categoria] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categoria] ([CategoriaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProdutoCategoria] CHECK CONSTRAINT [FK_ProdutoCategoria_Categoria]
GO
ALTER TABLE [dbo].[ProdutoCategoria]  WITH CHECK ADD  CONSTRAINT [FK_ProdutoCategoria_Produto] FOREIGN KEY([ProdutoID])
REFERENCES [dbo].[Produto] ([ProdutoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProdutoCategoria] CHECK CONSTRAINT [FK_ProdutoCategoria_Produto]
GO
ALTER TABLE [dbo].[ProdutoPromocao]  WITH CHECK ADD  CONSTRAINT [FK_ProdutoPromocao_Produto] FOREIGN KEY([ProdutoID])
REFERENCES [dbo].[Produto] ([ProdutoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProdutoPromocao] CHECK CONSTRAINT [FK_ProdutoPromocao_Produto]
GO
ALTER TABLE [dbo].[ProdutoPromocao]  WITH CHECK ADD  CONSTRAINT [FK_ProdutoPromocao_Promocao] FOREIGN KEY([PromocaoID])
REFERENCES [dbo].[Promocao] ([PromocaoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProdutoPromocao] CHECK CONSTRAINT [FK_ProdutoPromocao_Promocao]
GO
USE [master]
GO
