#main{
    background-color: var(--fundo-claro);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardDetalhe{
    background-color: #FFFFFF;
    min-width: 70%;
    height: 100vh;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0 7% 0 7%;
}

#cardDetalhe h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--laranja-destaque);
    font-size: 50px;
    font-weight: 500;
}

#cardDetalhe img{
    width: 60%;
    border-radius: 15px;
    margin-bottom: 40px;
}

#centralizarImg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#detalhes{
    display: flex;
    justify-content: space-between;
}

#descricao{
    max-width: 600px;
    text-align: justify;
}

#esquerda, #direita{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo{
    font-size: 20px;
    font-weight: 500;
}

#alinhaTexto{
    display: flex;
    gap: 5px;
}

.textos{
    font-size: 18px;
}

#riscado{
    text-decoration: line-through;
}

#lista{
    margin-left: 20px;
}